.rules-editor {
    .clauses-table {
      .clause {
        height: 25px;
        vertical-align: top;
  
        &.clause-row {
          .add-remove {
            vertical-align: middle;
          }

          .grouping {
            vertical-align: middle;
          }

          .groups {
            height: 30px;
            display: inline-flex;
  
            .ungroup-button {
              border: none;
              background: transparent;
            }
          }

          .custom-dropdown {
            .combobox {
              height: 30px !important;
              padding: 3px 12px !important;
              width: 80px;
            }
          }
  
          .operator {
            .combobox {
              width: 165px;
            }
          }
        }
      }
    }
  
    .value-control {
      height: 22px;
      margin-bottom: 5px;
  
      .value-control-input {
        height: 22px;
        width: 290px;
        border: 1px solid #707070;
        padding: 3px 12px;
      }
  
      input::-webkit-calendar-picker-indicator {
        display: none;
      }
  
      i {
        padding-left: 4px;
        color: #0078d4;
      }
    }
  
    .field-control {
      height: 22px;
      margin-bottom: 5px;
  
      .field-control-input {
        height: 22px;
        width: 270px;
        border: 1px solid #707070;
        padding: 3px 12px;
      }
  
      input::-webkit-calendar-picker-indicator {
        display: none;
      }
  
      i {
        padding-left: 4px;
        color: #0078d4;
      }
    }

    .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0,0,0,0);
      white-space: nowrap;
      border: 0;
    }
  }
  